<link rel="stylesheet" type="text/css" href="~/Content/Site.css">
@model Class_Project.Models.View_Models.AthleteDetailsViewModelcs

@{
    ViewBag.Title = "Details";
}

<h2 id="create">@Html.DisplayFor(model => model.Name)</h2>

<div id="create">
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Team)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Team)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>
    </dl>
</div>

<div>
<<<<<<< HEAD
<<<<<<< HEAD
=======
    <h4>Events</h4>
>>>>>>> feature-HK-2
=======

    <h4>Events</h4>
>>>>>>> 8e5d926b7dd83c0e3341575e0b7ad3d6f9bf0693
    <hr />
    <dl class="dl-horizontal">
        @{ for (int i = 0; i < Model.Events.Length; i++)
            {
                <dt>
                    @Model.Events[i]
                </dt>

                <dd>
                    @Model.Times[i]
                </dd>
            }
        }
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AthelteID }) |
    @Html.ActionLink("Back to List", "Index")
</p>