@model IEnumerable<Class_Project.Models.Athlete>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Athlete
        </th>
        <th>
            Team Name
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Team.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AthleteID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AthleteID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AthleteID })
        </td>
    </tr>
}

</table>
