@model MetaHealth.Models.SepMood

    <link href="@Url.Content("~/Content/moods.css")" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Edit";
}

<h4 style="font-size:33px; font-weight:bold; letter-spacing:3px; text-align:center; margin-top:30px;">Edit This Mood</h4>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal" style="margin-left:25%">
   
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.PK)

    <div class="form-group">
        @Html.LabelFor(model => model.MoodNum, "Mood", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => Model.MoodNum, new List<SelectListItem>
    {
    new SelectListItem{ Text = "Fantastic", Value = "5" },
    new SelectListItem{ Text = "Good", Value = "4" },
    new SelectListItem{ Text = "Neutral", Value = "3" },
    new SelectListItem{ Text = "Not good", Value = "2" },
    new SelectListItem{ Text = "Horrible", Value = "1" }
    }, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group" >
        @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Reason, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Reason, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Reason, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2" style="margin-left:25%">
            <input type="submit" value="Save" class="saveEdit" />
        </div>
    </div>
</div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
