@using Microsoft.AspNet.Identity
@Styles.Render("~/Content/Site.css")
@*@if (Request.IsAuthenticated)
    {
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav" style="float:right">
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
        }
    }
    else
    {
        <ul class="nav navbar-nav navbar-right">
        </ul>
    }*@

@*@if (Request.IsAuthenticated) {*@
<style>
        my-dropbtn-settings, my-dropdown-settings {
        font-size: 12px;
        border: none;
        font-family: Verdana;
        outline: none;
        color: #D5CDC6;
        letter-spacing: 2px;
        font-weight: bold;
        padding: 14px 16px;
        background-color: inherit;
        margin: 0;
    }
</style>
    <div class="my-navbar">
        <div class="my-dropdown-settings">
            <button class="my-dropbtn-settings" style="float:right">
                Account Settings
            </button>
            <div class="my-dropdown-content">
                @Html.ActionLink("Vent", "Venting", "Home")
                @Html.ActionLink("Self Care Quiz", "SelfCareQuiz", "Home")
                @Html.ActionLink("Breathe", "BreathingSpace", "Home")
                @Html.ActionLink("Flowchart", "Flowchart", "Home")
            </div>
        </div>
    </div>
    
        <!-- need a dropdown here for account setting where in we can use the account controller
             that dropdown will lead to a menu where the name can be changed for your account
             dropdown could have login/log off button too???
         -->
@*}*@        
