<link rel="stylesheet" type="text/css" href="~/Content/Site.css">
@model Class_Project.Models.AthleteResult

@{
    ViewBag.Title = "Details";
}

<h2 id="create">Details</h2>

<div>
    <h4>AthleteResult</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Athlete.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Athlete.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location.Location1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location.Location1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Result.Event)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Result.Event)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RaceTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RaceTime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AthleteResultsID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
