@model IEnumerable<Class_Project.Models.AthleteResult>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Athelete Name
        </th>
        <th>
            Location
        </th>
        <th>
            Event
        </th>
        <th>
            Race Time
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Athlete.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location.Location1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Result.Event)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RaceTime)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AthleteResultsID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AthleteResultsID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AthleteResultsID })
        </td>
    </tr>
}

</table>
